.container {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.page-header{
    color: black;
}
.page-header h1 {
    margin-top: 0;
}

.button-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
/* max-width */

@media screen and (min-width: 400px) {
    img{
        max-width: 200px!important;
        max-height: 200px!important;
    }
  }
h3,h1{
    color: black;
}
.body {
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #5995fd;
}
.btn {
    width: 150px;
    background-color: #fff;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #5995fd;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
  }
  
  .btn:hover {
    background-color: #4d84e2;
  }
