<ion-content>
  <div class="body">
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form [formGroup]="loginForm" (ngSubmit)='login()' class="sign-in-form animate__animated animate__backInUp">
            <h2 class="title">Iniciar Sesión</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Usuario" formControlName="usuario"/>
              
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Contraseña" formControlName="password"/>
            </div>
            <button class="btn solid" type="submit" >Iniciar Sesión</button>
            <h3 class="recuperar" [routerLink]="['/recuperar']" routerLinkActive="router-link-active" >Olvidaste tu contraseña?</h3>
          </form>
          
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel animate__animated animate__backInUp">
          <div class="content">
            <h3>¿Nuevo aquí?</h3>
            <p>
              Registrate para poder ofertar y comprar nuevas propiedades de manera facil y rapida.
            </p>
            <button class="btn transparent" id="sign-up-btn" [routerLink]="['/registro']" routerLinkActive="router-link-active" >
              Registrarme
            </button>
            <br>
            <br>
            <button class="btn transparent" id="sign-up-btn" [routerLink]="['/invitado']" routerLinkActive="router-link-active" >
              Continuar como invitado
            </button>
          </div>
          <img src="assets/log.svg" class="image " alt="" />
        </div>
       
      </div>
    </div>
  </div>
</ion-content>
