<ion-content>
  <div class="body">
    <div class="container">
      <div class="forms-container ">
        <div class="signin-signup" style="text-align:center !important">
          <h1 class="title">Verifica tu cuenta</h1>

          <h3 style="margin-top:80px">Te hemos enviado un correo de verificación.</h3>
          <h4>Por favor revisa tu correo electronico para verificar tu cuenta.</h4>
          <div style="text-align:center !important; margin-top:80px">
          <button class="btn" [routerLink]="['/login']" routerLinkActive="router-link-active"  >Volver</button>
        </div>

        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel animate__animated animate__backInUp">

          <img src="assets/register.svg" class="image" alt="" />
        </div>

      </div>
    </div>
  </div>
</ion-content>
