ion-menu-button {
    margin-left: 10px;
  }
  
  .filter {
    margin-right: 10px;
  }
  
  .search {
  
  
    ion-item {
      border-radius: 10px;
      box-shadow: 0px 13px 30px 0px rgba(0, 0, 0, 0.09);
      padding: 8px;
  
      ion-icon {
        margin-right: 16px;
      }
  
      ion-input {
        padding-left: 10px !important;
        border-left: 1px solid #F4F4F4;
      }
    }
  }
  
  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  
  
    h2 {
      margin: 0 0 0 16px;
      color: #04668d;
    }
  
    p {
      margin: 0 16px 0 0;
      color: #000;
    }
  }
  
  
  
  .font-bold {
    font-weight: bold;
  }
  
  .product-slider {
  
  
    ion-slide {
      width: 150px;
      height: auto;
      margin-left: 20px;
      margin-right: 10px;
  
      ion-col {
  
        /*   background-color: #fff;
              border-radius: 8px; */
        img {
          width: 100%;
          height: 180px;
          object-fit: cover;
          border-radius: 8px;
        }
  
        p {
          margin-top: 5px;
          margin-bottom: 0;
        }
  
        h6 {
          margin-top: 5px;
          margin-bottom: 0;
        }
      }
    }
  }
  
  // Removing highlight when focused/clicked on product
  ion-slide:focus {
    outline: none !important;
  }
  
  ion-col:focus {
    outline: none !important;
  }
  
  /* 
   */
  /*  .product-slider,.title,.search{
       background-color: #9bb8be    !important;
   }
    */
  
  ion-segment {
    --background: #5995fd;
  
  }
  
  ion-segment-button {
    --color-checked: #5995fd;
  }
  
  /* Grande */
  @media screen and (min-width: 499px) {
    .contenedor {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      width: 100%;
      max-height: 80vh;
      
    }
  
    .container {
      position: relative;
      display: inline-block;
      text-align: center;
      width: 25%;
      padding: 1rem;
  
    }
  
    .centrado {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-size: 1.5rem;
    }
  
    img {
      filter: brightness(50%); // Más oscura
      border-radius: 10px;
    }
  }
  
  /* Pequeño */
  @media screen and (max-width: 500px) {
      .contenedor {
          display: flex;
          flex-direction:column;
          width: 100%;
          height: 90vh;
        }
      
        .container {
          position: relative;
          display: inline-block;
          text-align: center;
          margin-top: -30px;
          padding: 1rem;
      
        }
      
        .centrado {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-size: 1.5rem;
        }
      
        img {
          filter: brightness(50%); // Más oscura
          border-radius: 10px;
        }
  }
  ion-card{
      img{
          width: 100%;
          height:200px;
      }
  }
  
  